// app global css in Sass form
@mixin disable-copy
    -webkit-touch-callout: none
    -webkit-user-select: none
    -moz-user-select: none
    -ms-user-select: none

.disable-copy
    @include disable-copy

.q-dialog__backdrop
    backdrop-filter: blur(10px)

.bg-aero-light
    background: rgba(#FFFFFF, .7)
    backdrop-filter: blur(10px)